[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "third_party/planegcs"]
	path = third_party/planegcs
	url = https://github.com/Salusoft89/planegcs.git
	branch = main
	ignore = dirty
[submodule "third_party/libdxfrw"]
	path = third_party/libdxfrw
	url = https://github.com/codelibs/libdxfrw.git
[submodule "third_party/occt8"]
	path = third_party/occt8
	url = https://github.com/fovezea/OCCT8.git
[submodule "third_party/deepseek-vision-mcp"]
	path = third_party/deepseek-vision-mcp
	url = https://github.com/kgamv/deepseek-vision-mcp.git
[submodule "third_party/OndselSolver"]
	path = third_party/OndselSolver
	url = https://github.com/FreeCAD/OndselSolver.git
	branch = main
